# Binaries
# *.dll
# *.so
# *.dylib

# Android SDK build outputs
*.aar
*-sources.jar


# Wails
desktop/frontend/dist/
desktop/frontend/node_modules/
desktop/wailsjs/

# Packaging
build/linux/deb_pkg/
build/linux/*.deb
desktop/AppDir/
*.AppImage

# Build Artifacts
desktop/build/bin/

# Go workspace
go.work
go.work.sum

# System
.DS_Store
Thumbs.db

# Logs
*.log

# IDEs
.vscode/
.idea/
*.swp


#md
reply.md
desktop